/* CSS Document */

/*
@font-face {
	font-family:'NewFont';
	src:url('../fonts/NewFont.eot');
	src:url('../fonts/NewFont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NewFont.woff') format('woff'),
		url('../fonts/NewFont.ttf') format('truetype'),
		url('../fonts/NewFont.svg#NewFont') format('svg');
}
*/

/* reset */


@font-face {
 font-family: 'gothambook';
 src: url('fonts/gotham-book.html');
 src: url('fonts/gotham-bookd41d.html?#iefix') format('embedded-opentype'),
   	  url('fonts/gotham-book.svg#gotham-medium') format('svg'),  
  	  url('fonts/gotham-book-2.html') format('woff'),  
  	  url('fonts/gotham-book-3.html') format('truetype');
 
 font-weight: normal;
 font-style: normal;
}

@font-face {
  font-family: 'gothammedium';
  src: url('fonts/gotham_medium.html');
  src: url('fonts/gotham_mediumd41d.html?#iefix') format('embedded-opentype'),
       url('fonts/gotham_medium.svg#gothammedium') format('svg'),
       url('fonts/gotham_medium-2.html') format('woff'),
       url('fonts/gotham_medium-3.html') format('truetype');
       
  
  font-weight: normal;
  font-style: normal;

}

@font-face {
 font-family: 'gothambold';
 src: url('fonts/gotham-bold.html');
 src: url('fonts/gotham-boldd41d.html?#iefix') format('embedded-opentype'), 
      url('fonts/gotham-bold.svg#gotham-bold') format('svg'),
  	  url('fonts/gotham-bold-2.html') format('woff'), 
  	  url('fonts/gotham-bold-3.html') format('truetype');
	  
 font-weight: normal;
 font-style: normal;
}

@font-face {
	font-family: 'Lovelo Black';
	src: url('fonts/Lovelo%20Black.html');
	src: local('в�є'), 
	     url('fonts/Lovelo%20Black-2.html') format('woff'),
       url('fonts/Lovelo%20Black-3.html') format('truetype'),
       url('fonts/Lovelo%20Black.svg') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'brandon';
    src: url('fonts/brandon_bld-webfont.html');
    src: url('fonts/brandon_bld-webfontd41d.html?#iefix') format('embedded-opentype'),
         url('fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg'),
         url('fonts/brandon_bld-webfont-2.html') format('woff'),
         url('fonts/brandon_bld-webfont-3.html') format('truetype');
         
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: url('fonts/brandon_blk-webfont.html');
    src: url('fonts/brandon_blk-webfontd41d.html?#iefix') format('embedded-opentype'),
         url('fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg'),
         url('fonts/brandon_blk-webfont-2.html') format('woff'),
         url('fonts/brandon_blk-webfont-3.html') format('truetype');
         
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: url('fonts/brandon_med-webfont.html');
    src: url('fonts/brandon_med-webfontd41d.html?#iefix') format('embedded-opentype'),
         url('fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg'),
         url('fonts/brandon_med-webfont-2.html') format('woff'),
         url('fonts/brandon_med-webfont-3.html') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}

.fixed-layout {
    height: 100%;
    overflow: hidden;
    position: relative;
}
body {
    color: #333;
    font-family: "gothammedium",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
}
body {
    margin: 0;
}
html, body {
    color: #666;
    font-family: 'gothammedium',Helvetica,Arial,sans-serif;
    font-size: 12px;
    min-height: 100%;
    position: relative;
}
* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
*::-moz-placeholder {
    color: #ebe5da !important;
}
html, body {
    color: #666;
    font-family: 'gothammedium',Helvetica,Arial,sans-serif;
    font-size: 12px;
	}
	.layout {
    height: 100%;
    overflow: visible;
}

#content {
    height: 100%;
    position: relative;
    transition: margin-left 400ms ease 0s;
}
.wrapper {
    overflow: hidden;
}
* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
*::-moz-placeholder {
    color: #ebe5da !important;
}
#content > .inner {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
}
#content .screen.full {
    width: 100%;
}
#content .screen {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.purplecol {
    background: url("../images/purpleBg6.jpg") repeat scroll 0 0 #555e80;
    box-shadow: 2px 0 0 0 #3e1f3e;
    padding-left: 0;
    padding-right: 0;
}

.slider {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.scroll-layout {
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.whitecol *, .whitecol2 *, .purplecol *, .purplecol2 *, .purplecol3 *, .aboutussection *, .cyancol *, .yellowcol *, .redcol * {
    box-sizing: border-box;
}

.slider.vertical-slider .slider-content {
    height: 100%;
    overflow: visible !important;
    position: relative;
    width: 100%;
}
.scroll-layout > .inner {
    box-sizing: border-box;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.slider .slider-content .slider-item {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.slider.vertical-slider .slider-pages {
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 57%;
    top: 0;
}
.slider.vertical-slider .slider-pages > .inner {
    position: fixed;
    top: 73%;
    vertical-align: middle;
	margin-left: auto;
}

.slider.vertical-slider .slider-pages .slider-page.slider-active-page {
    background-color: rgba(255, 255, 255, 0.15);
    border-width: 0;
}
.slider.vertical-slider .slider-pages .slider-page {
    background-clip: padding-box;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 20px;
}
.slider .slider-content .slider-item > .inner {
    display: table-cell;
    padding: 5% 0;
    vertical-align: middle;
}
.slider .slider-content .slider-item > .inner {
    display: table-cell;
    padding: 5% 0;
    vertical-align: middle;
}
.slider-down span {
    background: url("../images/slider-down.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.slider-up span, .slider-down span {
    display: block;
    height: 65px;
    margin-left: -50%;
    width: 65px;
}
.slider-down {
    bottom: 5%;
    left: 50%;
    position: absolute;
}
.presentation {
    display: inline-block;
    font-family: 'brandon',Montserrat,sans-serif;
    padding: 0 10%;
    position: relative;
    text-align: center !important;
    transition: opacity 400ms ease 0s;
}
*::-moz-placeholder {
    color: #ebe5da !important;
}
.presentation h1 {
    color: #f5f4ed;
    font-size: 78px;
    font-weight: 900;
    letter-spacing: 12px;
    line-height: 65px;
    margin: 26px 0;
}
.presentation big {
    color: #f5f4ed;
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 48px;
}

.presentation strong {
    color: #353533;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}