*::-webkit-input-placeholder { color:#EBE5DA !important; }
*:-moz-placeholder { color:#EBE5DA !important; }
*::-moz-placeholder { color:#EBE5DA !important; }
*:-ms-input-placeholder { color:#EBE5DA !important; }

body {
  font-family: "gothammedium", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0px;
  font-family: 'brandon', Montserrat, sans-serif;
	font-weight: 700;
	text-transform:uppercase;
}

h1 {
  font-size: 38px;
  line-height: 44px;
}
 

.purplecol {
  padding-right:0px;
  padding-left:0px;
  background:#555E80 url(../images/purpleBg6.jpg);
  box-shadow:2px 0 0 0 #3e1f3e;
}



.presentation {
	position:relative;
	display:inline-block;
	font-family: 'brandon', Montserrat, sans-serif;
	text-align:center !important;
	padding:0 10%;
	
	transition:opacity 400ms;
  -moz-transition:opacity 400ms;
  -webkit-transition:opacity 400ms;
  -o-transition:opacity 400ms;
  -ms-transition:opacity 400ms;
}
	.presentation h1 {
		font-size:78px;
		line-height:65px;
		letter-spacing:12px;
		font-weight:900;
		margin:26px 0;
		color:#f5f4ed;
		text-shadow: 0 13.36px 8.896px #242220,0 -2px 1px #87A6B4;
	}
	.presentation big {
		font-size:20px;
		line-height:30px;
		display:block;
		margin-bottom:48px;
		color:#f5f4ed;
	}
	
	
	.presentation strong {
		font-size:10px;
		font-weight:900;
		text-transform:uppercase;
		letter-spacing:2px;
		color:#353533;
	}
          

		

@media (max-width: 991px) {
  
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle {
    height: 226px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
  .logospinner {
    height: 20px;
    background-image: url(../images/spinner.png);
  }
}
@media (max-width: 767px) {
  
@media (max-width: 479px) {

}