*::-webkit-input-placeholder { color:#EBE5DA !important; }
*:-moz-placeholder { color:#EBE5DA !important; }
*::-moz-placeholder { color:#EBE5DA !important; }
*:-ms-input-placeholder { color:#EBE5DA !important; }

body {
  font-family: "gothammedium", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0px;
  font-family: 'brandon', Montserrat, sans-serif;
	font-weight: 700;
	text-transform:uppercase;
}

h1 {
  font-size: 38px;
  line-height: 44px;
}
  .top100 h1 {
    font-size:40px;
    line-height:60px;
    letter-spacing:6px;
    margin-top:43px;
  }
h2 {
  font-size: 32px;
  line-height: 36px;
}
h3 {
  font-size: 21px;
  line-height: 30px;
  text-align: left;
}
h4 {
  font-size: 18px;
  line-height: 24px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
}
p {
  margin-bottom: 50px;
  color: #ebe5da;
}
  .top100 p { font-size:14px; font-family:'gothambook'; margin-botoom:30px; }
hr {
  border:0;
  display:block;
  width:133px;
  margin:38px auto 52px;
  height:4px;
  background:#ebe5da;
  overflow:hidden;
  clear:both;
}

.color-green { color:#36b493 !important; }

.redcol {
  background:#ff6c54 url(../images/aboutUsBG.jpg) 50% 100% no-repeat;
}
.graycol {
	background:#F7F6F1;
}
.cyancol {
  background:#36b493 url(../images/greenBg.jpg);
}
.yellowcol { 
  background:#ffa754 url(../images/yellowBg.jpg);
}
.whitecol {
  text-align:center;
  background:#fff;
}
.purplecol {
  padding-right:0px;
  padding-left:0px;
  background:#555E80 url(../images/purpleBg6.jpg);
  box-shadow:2px 0 0 0 #3e1f3e;
}
.purplecol2 {
  background:#462446;
  box-shadow:2px 0 0 0 #462446;
  text-align:center;
}
.purplecol3 {
  background:#391b39;
  box-shadow:2px 0 0 0 #391b39;
}

/*.video-bg { position:relative; overflow:hidden; }*/
  .video-bg-container {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		overflow:hidden;
		
		transition:opacity 400ms;
    -moz-transition:opacity 400ms;
    -webkit-transition:opacity 400ms;
    -o-transition:opacity 400ms;
    -ms-transition:opacity 400ms;
	}
		/*.video-bg-container:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:#2b0f2c;
			opacity:0.85;
		}*/
		
    .background {
      min-width:100%;
      min-height:100%;
      max-width:100%;
      display:block;
      opacity:0;
    }
      .background.bind-to-height { max-height:100%; max-width:none; }


.trailer-container {
  position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	opacity:0;
	visibility:hidden;
	background:#271126;
	
	transition:opacity 400ms;
  -moz-transition:opacity 400ms;
  -webkit-transition:opacity 400ms;
  -o-transition:opacity 400ms;
  -ms-transition:opacity 400ms;
}
  .trailer-container.show { visibility:visible; opacity:1; }
  .trailer-container.hide { opacity:0; }

  .trailer-container .trailer-box {
    display:table;
    width:100%;
	  height:100%;
  }
    .trailer-container .trailer-box .trailer-cell {
      display:table-cell;
      text-align:center;
      vertical-align:middle;
    }


.presentation {
	position:relative;
	display:inline-block;
	font-family: 'brandon', Montserrat, sans-serif;
	text-align:center !important;
	padding:0 10%;
	
	transition:opacity 400ms;
  -moz-transition:opacity 400ms;
  -webkit-transition:opacity 400ms;
  -o-transition:opacity 400ms;
  -ms-transition:opacity 400ms;
}
	.presentation h1 {
		font-size:78px;
		line-height:65px;
		letter-spacing:12px;
		font-weight:900;
		margin:26px 0;
		color:#f5f4ed;
	}
	.presentation big {
		font-size:20px;
		line-height:30px;
		display:block;
		margin-bottom:48px;
		color:#f5f4ed;
	}
	
	.presentation .trailer {
		display:block;
		width:294px;
		margin:auto;
		border:3px solid #f5f4ed;
		height:69px;
		line-height:66px;
		font-weight:bold;
		font-size:18px;
		text-transform:uppercase;
		background:url(../images/play-btn.png) 22px 50% no-repeat;
		background-size:18px auto;
		padding-left:54px;
		letter-spacing:2px;
		text-align:left;
		margin-bottom:92px;
		color:#f5f4ed;
		
		transition:background 300ms ease-in-out;
		-webkit-transition:background 300ms ease-in-out;
		-moz-transition:background 300ms ease-in-out;
		-o-transition:background 300ms ease-in-out;
		-ms-transition:background 300ms ease-in-out;
	}
	  .presentation .trailer:hover {
	    background-color:#37b494;
	  }
	
	.presentation strong {
		font-size:10px;
		font-weight:900;
		text-transform:uppercase;
		letter-spacing:2px;
		color:#353533;
	}
          
.main-info {
	position:relative;
	display:inline-block;
	color:#ece6dc;
	vertical-align:middle;
	margin:60px 45px;
}
  .main-info h2 {
		/*color:#f5f4ed;*/
		color:#3e1f3e;
		font-size:34px;
		line-height:50px;
		letter-spacing:3px;
		word-spacing:1px;
		text-align:left;
		font-weight:900;
		margin-bottom:21px;
	}
  .main-info p {
		color:#353533;;
		font-family:'gothambook', Helvetica, Arial, sans-serif;
		font-size:14px;
		padding:0;
		line-height:26px;
	}


.policy {
	color:#9d9c97 !important;
	max-width:640px;
	margin:auto;
	font-family:'gothambook', Helvetica, Arial, sans-serif;
	font-size:12px;
	padding:0 10% 100px;
}
	.policy h1 {
		margin:45px 0;
		text-align:center;
		font-family:'gothambold', Helvetica, Arial, sans-serif;
		font-size:28px;
		font-weight:normal;
		line-height:normal;
	}
		.policy h1 small {
			display:block;
			font-size:18px;
			font-family:'gothammedium', Helvetica, Arial, sans-serif;
		}
		
	.policy p,
	.policy ol,
	.policy ol > li {
		color:#9d9c97 !important;
		margin-bottom:20px;
	}
	
	.policy ol,
	.policy ul {
		list-style-position:inside;
	}

	
a.appstore-link {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	display:block;
	width:312px;
	height:54px;
	line-height:54px;
	padding-left:48px;
	text-align:left;
	background:#2fa781 15px 45% no-repeat;
	font-family:'gothambold', Helvetica, Arial, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:0.5px;
	word-spacing:2px;
	color:#e7e0d5;
}

.button {
  display: inline-block;
  width: auto;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #ebe5da;
  color: #36b493;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.button.nav {
  margin-left: 18px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button:hover.nav:hover {
  background-color: #9299ad;
}
.button.big-green {
  margin-top: 191px;
  padding: 25px 22px;
  background-color: #32ac97;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 29px;
  text-transform: capitalize;
}
.button:hover.big-green:hover {
  background-color: #258575;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
.section.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #2e323d;
}
.aboutussection,
.hero,
.agent,
.top100 {
  padding: 0 10%;
  max-width:900px;
  margin:auto;
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  color:#EBE5DA;
}
.hero,
.agent,
.top100 {
  text-align: center !important;
}
.section.grey {
  background-color: #eff1f4;
  text-align: center;
}
.section.centered {
  text-align: center;
}
.section.footer {
  background-color: #363b48;
  text-align: left;
}
.company {
  display: inline-block;
  font-family: 'gothambold', Montserrat, sans-serif;
  color: white;
  font-size: 31px;
  font-weight: 700;
}
.nav-link {
  margin-right: 11px;
  margin-left: 11px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'gothambold', Montserrat, sans-serif;
  color: rgba(255, 255, 255, 0.81);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  color: white;
}
.nav-column {
  text-align: right;
}
.logo {
  margin-top: -13px;
  margin-left: 14px;
}
.company-column {
  margin-top: 7px;
}
.hero-heading {
  margin:50px 0;
  color: #ebe5da;
  font-size: 40px;
  letter-spacing: 16px;
  text-transform: uppercase;
}
.hero-heading.sidequote {
  margin-top: 0px;
  line-height: 60px;
  text-align: left;
  letter-spacing: 5px;
}
.hero-heading.midquote {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 10px;
  text-align:center;
}
.top100 .subhead {
  font-size:16px;
  font-family: 'gothambold', Arial, Helvetica, sans-serif;
  line-height:30px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.hero-subhead {
  margin-bottom: 55px;
  font-family: 'gothammedium', Arial, Helvetica, sans-serif;
  color: #ebe5da;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}
  .aboutussection .hero-subhead { text-align:left; }
.hero-subhead.errortxt {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hero-subhead.contactlefttxt {
  text-align: right;
}
.hero-subhead.contactrighttxt {
  text-align: left;
}
.section-title {
  font-family: 'gothammedium', Montserrat, sans-serif;
  font-size: 29px;
  font-weight: 400;
  text-align: center;
}
.section-subtitle {
  margin-bottom: 43px;
  color: #848999;
  text-align: center;
}
.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.grey-icon {
  margin-right: 9px;
}
.content-column {
  padding-top: 79px;
  text-align: left;
}
.circle {
  height: 303px;
  margin-bottom: 25px;
  padding-top: 21px;
  border-radius: 190px;
  background-color: #f7f8fa;
}
.number {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 9px;
  border-radius: 50px;
  background-color: #363b48;
  font-family: 'gothammedium', Montserrat, sans-serif;
  color: white;
  font-size: 20px;
}
.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  padding-top: 5px;
  border-radius: 40px;
  background-color: #eff1f4;
}
.quote-box {
  padding: 34px 40px 34px 98px;
  border-radius: 8px;
  background-color: white;
  background-image: url(../images/fede6c82-bef1-4b40-a4cd-f1045405d3c5_12-quotes.png);
  background-position: 8% 22%;
  background-size: 50px;
  background-repeat: no-repeat no-repeat;
  text-align: left;
}
.quote {
  color: #2d303b;
  font-size: 15px;
  line-height: 24px;
}
.quote-thingy {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: 45px;
}
.by-section {
  text-align: left;
}
.person-icon {
  margin-right: 15px;
  float: left;
}
.location {
  font-family: 'gothammedium', Varela, sans-serif;
  color: #848999;
  font-size: 15px;
}
.logo-bottom {
  margin-right: 14px;
  float: left;
}
.footer-text {
  display: inline-block;
  margin-top: 11px;
  font-family: 'gothammedium', Montserrat, sans-serif;
  color: #b5bbc9;
  font-size: 15px;
}
.social-icon {
  width: 50px;
  height: 50px;
  margin-left: 17px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #596073;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}
.social-icon:hover {
  background-color: #7f89a3;
}
.right-footer-col {
  text-align: right;
}
.inputform {
  margin-bottom: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  border: 4px solid #ebe5da;
  background: none;
  color: #ebe5da;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  height:60px;
  font-family: 'gothammedium', Arial, Helvetica, sans-serif;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.inputform.message {
  height: 220px;
  padding-top: 18px;
  padding-bottom: 18px;
}
#top100-form .inputform {
  border-width:2px;
  height:68px;
  font-size:20px;
  font-weight:normal;
}
.submitbtn {
  width: 100%;
  padding: 20px;
  background-color: #ebe5da;
  color: #36b493;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  height:60px;
  font-family: 'gothambold', Arial, Helvetica, sans-serif;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.submitbtn.agentsubmit {
  color: #ffa754;
}
#top100-form .submitbtn {
  color:#462446;
  font-size:25px;
  height:68px;
  
}
.formstyle {
  width: auto;
  text-align: left;
  
  transition:transform 400ms, opacity 400ms;
  -moz-transition:-moz-transform 400ms, opacity 400ms;
  -webkit-transition:-webkit-transform 400ms, opacity 400ms;
  -o-transition:-o-transform 400ms, opacity 400ms;
  -ms-transition:-ms-transform 400ms, opacity 400ms;
}
  .formstyle.hide {
    opacity:0;
    
    transform:translateY(100px);
    -moz-transform:translateY(100px);
    -webkit-transform:translateY(100px);
    -o-transform:translateY(100px);
    -ms-transform:translateY(100px);
  }

#top100-form {
  width:418px;
  margin:58px auto;
}
.container1 {
  direction: ltr;
}
.formwrapper {
  width: auto;
  position:relative
}
.form-message {
  position:absolute;
  width:100%;
  opacity:0;
  visibility:hidden;
  text-align:center;
  letter-spacing:3px;
  
  transition:opacity 400ms;
  -moz-transition:opacity 400ms;
  -webkit-transition:opacity 400ms;
  -o-transition:opacity 400ms;
  -ms-transition:opacity 400ms;
}
  .form-message.show { visibility:visible; opacity:1; }
.formsubmitted {
  background-color: rgba(0, 0, 0, 0);
}
.formerror {
  background-color: #ff6c54;
}
.logobg {
  width: 107px;
  height: 80px;
  background-image: url(../images/taLogo.png);
  background-size: auto;
  background-repeat: no-repeat no-repeat;
  background-attachment: fixed;
}
.logospinner {
  width: 20px;
  height: 20px;
  margin-top: 23px;
  margin-left: 43px;
  float: none;
  background-image: url(../images/spinner.png);
  text-align: center;
}
h3.aboutusheader {
  margin-top: 0px;
  color: #ebe5da;
  font-size: 18px;
  text-transform: uppercase;
  text-align:left;
}
.agentform.message {
  height: 140px;
  padding-top: 18px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.big-green {
    margin-top: 148px;
  }
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
  .hero-heading.sidequote {
    font-size: 30px;
  }
  .hero-heading.midquote {
    text-align: center;
  }
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle {
    height: 226px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
  .logospinner {
    height: 20px;
    background-image: url(../images/spinner.png);
  }
}
@media (max-width: 767px) {
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .button.big-green {
    margin-top: 86px;
    margin-bottom: 62px;
  }
  .section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section.footer {
    text-align: center;
  }
  .nav-column {
    text-align: center;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 34px;
  }
  .hero-heading.sidequote {
    margin-bottom: 30px;
    text-align: center;
  }
  .hero-subhead {
    margin-bottom: 40px;
  }
  .grey-icon {
    margin-top: 28px;
  }
  .content-column {
    padding-left: 0px;
  }
  .circle {
    display: block;
    width: 88%;
    height: auto;
    margin-top: 39px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  .frames {
    width: 55%;
    margin-bottom: 19px;
  }
  .number {
    margin-bottom: 20px;
  }
  .quote-box {
    background-image: url(../images/fede6c82-bef1-4b40-a4cd-f1045405d3c5_12-quotes.png);
  }
  .by-section.first {
    margin-bottom: 35px;
  }
  .logo-bottom {
    margin-right: -1px;
    margin-bottom: 37px;
    float: none;
  }
  .social-icon.first {
    margin-left: 1px;
  }
  .right-footer-col {
    text-align: center;
  }
  .aboutusheader {
    text-align: center;
  }
}
@media (max-width: 479px) {
  p {
    text-align: center;
  }
  .button {
    line-height: 24px;
  }
  .button.nav {
    width: 80%;
  }
  .button.big-green {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
  }
  .hero-heading {
    line-height: 30px;
    letter-spacing: 10px;
  }
  .hero-heading.sidequote {
    font-size: 22px;
    line-height: 30px;
  }
  .hero-heading.midquote {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 5px;
  }
  .hero-subhead {
    margin-bottom: 34px;
    line-height: 24px;
  }
  .hero-subhead.contactrighttxt {
    text-align: right;
  }
  .grey-icon {
    margin-top: 34px;
  }
  .content-column {
    text-align: center;
  }
  .frames {
    width: 75%;
  }
  .quote-box {
    padding-left: 75px;
    background-image: url(../images/fede6c82-bef1-4b40-a4cd-f1045405d3c5_12-quotes.png);
    background-position: 8% 17%;
  }
  .logobg {
    height: 84px;
    background-image: url(../images/taLogo.png);
  }
  .aboutusheader {
    font-size: 16px;
  }
}